

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(160, 164, 175);
}

.max-width {
    width: 1200px;
}

.plus-or-minus {
    /* background-image: url("./images/plus_or_minus.png");
    background-position: center center;
    background-size: contain; */
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

header { 
    font-size: 20px;
    background-color: rgb(242, 253, 253);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 0 10px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width-limiter {
    max-width: 1080px;
    margin: auto;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.description {
    font-size: 20px;
    font-weight: 400;
}

.description li {
    margin-top: 10px;
}

.content .images {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.content .images div {
    width: 300px;
    height: 260px;
    align-items: center;
    display: flex;
    background-color: #444444;
}

.content .images img {
    width: 300px;
}
